@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.card{
    height: 250px;
    width: 200px;
    background-color: 	#F5F5F5;
    box-shadow: 2px 2px 5px gray;

}
.cards{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}
.my{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 45vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    margin-bottom: 5vh;
    align-items: center;
}
footer{
    background-color: #B2FFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.glasses{
    padding: 20px;
    height: 20vh;
    object-fit: contain;
}
.cla{
    width: 15vh;
    object-fit: contain;
}

header{
    height: 30vh;
    display: grid;
    justify-items: center;
    background: linear-gradient(
        172deg,
        lightblue 50%,
        white 50%
    );
    
}
.hright{
    background-color: white;
    border-left: none;
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
    margin-right: 1vh;
    position: relative;

    
}
.background{
    display: grid;
}
.hleft{
    position: relative;
    justify-self: end;
}
.container{
    
    display: grid;
    grid-template-columns: .4fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-left: 5vh;
    margin-right: 5vh;
}
.pail{
    
    font-size: 34px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}
.githubicon.hea{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.about{
    padding: 10px;
    font-size: 28px;
}
.lore{
    padding: 10px;
}
.my{
    justify-self: start;
    padding: 15px;
}
.projimage{
    width: 200px;
    height: 125px;
    
}
.bottom{
    position: relative;
    height: 125px;
}
.githubicon.car{
    height: 75;
    position: absolute;
    top: 5px;
    right: 5px;
}
.name,.short{
    padding: 5px;
    color: black;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}